body{
    background-image: url("../fundo.jpg");
}
img{
    border-radius: 1%;
}

h1{
    text-shadow: 0 0 3px #000000

}

p{ 
    text-shadow: 0 0 3px #FF0000;
}

h3{
    text-shadow: 0 0 3px #FFA500;
}

li{
    text-shadow: 0 0 3px #000000
}